{{!Begin of Social Icon List}}
<ul class="sf-social">
	{{!Begin Social item}}
	<li class="facebook">
		<a href="https://facebook.com/beunmistakable" target="_blank" title="Facebook"> {{!Change href="#" to href="https://facebook.com/beunmistakable"}}
			<i class="fa fa-facebook"></i>
		</a>
	</li>
	{{!End Social item}}
	
	{{!Begin Social item}}
	<li class="twitter">
		<a href="http://snip.ly/eRK5" target="_blank" title="@BeUnmistakable on Twitter"> {{!Change href="#" to href="http://snip.ly/eRK5"}}
			<i class="fa fa-twitter"></i>
		</a>
	</li>
	{{!End Social item}}

	{{!Begin Social item}}
	<li class="google hide">
		<a href="https://plus.google.com/u/2/b/115902177599686834529/115902177599686834529" target="_blank" title="Unmistakable On Google"> {{!Change href="#" to href="https://plus.google.com/u/2/b/115902177599686834529/115902177599686834529"}}
			<i class="fa fa-google-plus"></i>
		</a>
	</li>
	{{!End Social item}}

	{{!Begin Social item}}
	<li class="pinterest">
		<a href="http://snip.ly/eRK5" target="_blank" title="Unmistakable Pinterest Travel Board"> {{!Change href="#" to href="http://snip.ly/eRK5"}}
			<i class="fa fa-pinterest"></i>
		</a>
	</li>
	{{!End Social item}}

	{{!End Social item}}
	<li class="instagram">
    	<a href="https://instagram.com/emmaserino/" target="_blank" title="@Mom in Instagram"> {{!Change href="#" to href="https://instagram.com/emmaserino/"}}
        	<i class="fa fa-instagram"></i> {{!Change icon for social item here}}
    	</a>
	</li>
	{{!End Social item}}

	{{!Begin Social item}}
	<li class="tumblr">
    	<a href="http://emmaserino.tumblr.com" target="_blank" title="@Mom on Tumblr"> {{!Change href="#" to href="http://emmaserino.tumblr.com"}}
        	<i class="fa fa-tumblr"></i> {{!Change icon for social item here}}
    	</a>
	</li>
	{{!End Social item}}
	
	{{!Begin Social item}}
	<li class="behance hide">
    	<a href="https://www.behance.net/thinq4yourself" target="_blank" title="@Dad on Behance"> {{!Change href="#" to href="https://www.behance.net/thinq4yourself"}}
        	<i class="fa fa-behance"></i> {{!Change icon for social item here}}
    	</a>
	</li>
	{{!End Social item}}
	
	{{!Begin Social item}}
	<li class="github hide">
    	<a href="https://github.com/thinq4yourself/Unmistakable" target="_blank" title="@Dad on Github"> {{!Change href="#" to href="https://github.com/thinq4yourself/Unmistakable"}}
        	<i class="fa fa-github"></i> {{!Change icon for social item here}}
    	</a>
	</li>
	{{!End Social item}}

	{{!Begin Social item}}
	<li class="medium">
		<a href="https://medium.com/@thinq4yourself" target="_blank" title="@Dad on Medium"> {{!Change href="#" to href="https://medium.com/@thinq4yourself"}}
			<i class="fa fa-medium"></i>
		</a>
	</li>
	{{!End Social item}}

	{{!Begin Social item}}
	<li class="maptia">
		<a href="http://snip.ly/NwG2" target="_blank" title="@BeUnmistakable on Maptia"> {{!Change href="#" to href="http://snip.ly/NwG2"}}
			<i class="fa fa-globe"></i>
		</a>
	</li>
	{{!End Social item}}

	{{!Paste new social icons here}}
	
</ul>
{{!End of Social Icon List}}