<div class="widget about{{#unless widget_title}} no-title{{/unless}}{{#if custom_class}} {{custom_class}}{{/if}}">
	{{#if widget_title}}
	<h3 class="widget-title">{{{widget_title}}}</h3>
	{{/if}}
	<div class="widget-content">
		<div class="about-container">
			<div class="avatar">
				<img class="img-responsive" src="{{asset "img/unmistakable-family-logo-600-round.png"}}" alt="avatar"/>
			</div>
			<div class="desc">
				<h4 class="author-name">Unmistakable.</h4>	
				<p>
					Exploring, writing, traveling, backpacking, educating, creating — as a family.
				</p>
				<p>
					<a href="http://unmistakable.us" class="btn btn-danger space-top"><i class="fa fa-suitcase"></i> Learn More</a>
				</p>
			</div>
		</div>
	</div>
</div>