<div class="widget recent-tweets{{#unless widget_title}} no-title{{/unless}}{{#if custom_class}} {{custom_class}}{{/if}}">
	{{#if widget_title}}
	<h3 class="widget-title">{{{widget_title}}}</h3>
	{{/if}}
	<div class="widget-content">
		{{!
			- Go to https://twitter.com/settings/widgets to create a twitter widget
			- And paste your widget content here
		}}
		<a class="twitter-timeline" href="https://twitter.com/BeUnmistakable" data-widget-id="562247382218600448">Tweets by @BeUnmistakable</a>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
	</div>
</div>
