<div class="footer">
	<div class="widget-area">
		<div class="widget-area-wrap">
			<div class="row">
				<div class="col-md-4">					
					{{>widget/about widget_title="About Us"}}
				</div>
				<div class="col-md-4">										
					{{>widget/newsletter widget_title="Stay Connected" desc="Enter your email address and never miss an beat. You'll get travel deals, inspiration, and tips right to your inbox." form_url="http://unmistakable.us7.list-manage.com/subscribe/post?u=f0848815aea2f6ed0517eb550&amp;id=d7d298c29f"}}
				</div>
				<div class="col-md-4">
					{{>widget/instagram widget_title="Instagram" user_name="beunmistakable" api_token="240089006.de5fb1f.47c0b1cb25134e1dbbf530ac916a9940" api_clientid="de5fb1fe5d8c4ac4bfc75fa52e0243a9" display="10" cols="5" show_follow_box="true"}}
				</div>
			</div>
		</div>
	</div>
	<div class="bottom-area">
		<div class="bottom-area-wrap">
			<div class="row">
				<div class="col-md-6 col-md-push-6">
					<div class="circle main-color">						
						{{>misc/social-icons}}
					</div>
				</div>
				<div class="col-md-6 col-md-pull-6">					
					<p class="copyright">Copyright &copy; 2015 <a href="/">{{@blog.title}}</a> All rights reserved.</p>
				</div>
			</div>
		</div>
	</div>
</div>