<div class="sidebar-wrap">		
	{{! >widget/about }}
	{{>widget/search widget_title="Search"}}
	{{>widget/recent-posts display="5" widget_title="Latest Posts"}} 
	{{>widget/tags widget_title="Topics" style="stack" max_items="30" show_count="false"}}
	{{>widget/facebook-like widget_title="Like Us On Facebook" fanpage_url="https://www.facebook.com/BeUnmistakable" show_faces="true" show_header="true" show-stream="false" show_border="true"}}		
	{{>widget/recent-tweets widget_title="Follow Us On Twitter" twitter_user_url="https://twitter.com/BeUnmistakable" twitter_widget_id="562247382218600448"}}	{{>widget/social widget_title="Stay Connected"}}
	{{>widget/text widget_title="Text Widget" text_content="<p>Going to put an ad here, <strong>html tags</strong>.</p>"}}
</div>