<div class="main-wrap"> 
	<div class="row">       	    
	    <div class="main-content col-md-6 col-md-push-3">
	        <div class="body-content" role="main">
	            {{>loop/_loop_default}}                         
	        </div>
	    </div>
	    <div class="col-md-3 col-md-pull-6 sidebar left-sidebar">
	    {{>sidebar/left}} 
	    </div>
	    <div class="col-md-3 sidebar right-sidebar">
	    {{>sidebar/default}} 
	    </div>
	</div>
</div>