<div class="main-wrap"> 
	<div class="row">       
	    <div class="main-content col-md-10 col-md-push-1 full-width">
	        <div class="body-content" role="main">
	            {{>loop/_loop_default}}                         
	        </div>
	    </div>
	</div>
</div>