<div class="main-wrap"> 
	<div class="row">       
	    <div class="main-content col-md-8 col-md-push-4">
	        <div class="body-content" role="main">
	            {{>loop/_loop_masonry item_class="col-md-6"}}                         
	        </div>
	    </div>
	    <div class="sidebar col-md-4 col-md-pull-8">
	    {{>sidebar/default}} 
	    </div>
	</div>
</div>